<div class="banner">
	<img [src]="data.posterPath" class="bg" alt="bg img">
	<div class="content">
        <h1>{{data.detail.title}}</h1>
		<h4>

			<span>2020</span>
			<span *ngIf="data.detail.adult"><i>+18</i></span>
			<span>{{segundosAMinutos(data.detail.runtime)}}</span>
			<div>Generos: <span *ngFor="let gen of data.detail.genres">{{gen.name}}</span></div>
		</h4>
		<p>{{data.overview}}</p>
        
	</div>
    <a class="play" href="{{data.homepage}}"><img src="https://i.imgur.com/vcvm7c8.png" alt="play">To Home</a>
</div>


<div class="trailer">
	<video src="https://imdb-video.media-imdb.com/vi1161674521/1434659607842-pgv4ql-1575557953366.mp4?Expires=1662647966&Signature=q5~hqh2NF8OEAlLPi4aNjxkq4yS8gtNEut-99eZgK4jXvqbi1e~-NrtQ8oqZdm53oRvv0GVs29dTihWsSLCerz3JsxoNox-DTQrYel~-dfRdNTl-jxQmFB7h-vCnMoljtryuFXACJhYg7UorFw2xV4k9~Y~XP6Zctc7uyABRNM-TUSOS7z94VGvmYaYaTvNc5kW~4gT~c8o43eXPX185BjL6tgnwg6BBKovX5dTHuhiT163DU4GeyM2-elI681FDUnnYq9SvPkIVyeMZhpzJW4MearEANddRNeHt~7dRsjjgjDk7WKn-9P3STBerCWlJR~fzGJsWWkq4REsJuwQGCA__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA" controls></video>
	<img src="https://i.imgur.com/yzr8fQz.png" alt="close" class="close">
</div>